<!DOCTYPE html>
<html lang="en">
 {{> base/head}}
<body>
    <h1>插入一个标题</h1>
    <button id='btn'>new</button>
    <button id='btn2'>fresh</button>
    <div class='i-icon i-icon-bypwd2'></div>
    <h3>Demo入口</h3>
    <a href="#counter">计数器</a>
</body>
</html>